  <%-include('../includes/head.ejs')%>
</head>

<%-include('../includes/nevigation.ejs')%>
  <%if(prod){%>
    <div class="product-container ml-3 mt-3">
      <div>
          <img src="<%=prod.imageUrl%>" alt="<%=prod.title%>" class="link">
      </div>
      <div class="mt-3"> <%=prod.title %> </div>
      <div class="mt-3"> <%=prod.description %> </div>
      <div class="row">
        <div class="col-sm-6"><i class="fa fa-rupee-sign"></i> <%=prod.price %></div>
        <div class="col-sm-6">
          <form action="/cart" method="post">
            <input type="hidden" name="productId" value="<%=prod.id%>" />
            <input type="hidden" name="price" value="<%=prod.price%>" />
            <button type="submit" class="form-btn-icon"><i class="fa fa-shopping-cart link" title="add to cart"></i></button>
          </form>
        </div>
      </div>
  </div> <%
  }%>
<%-include('../includes/end.ejs')%>